<h3> Hello <%=@user.first_name%>! Please activate your account by clicking on the link below </h3>

<a href="https://jt-jg-brownfield-of-dreams.herokuapp.com/activate/<%=@user.id%>">Click here to activate!</a>
